.env
.env.*
.env.local
.env.*.local
*.env
*.env.*
!.env.example
!*.env.example
!*.env.example.yaml

docker-compose.override.yml
docker-compose.*.local.yml

vitarerum-data/postgres/
vitarerum-data/pgdata/

tmp/
__pycache__/
*.pyc
.cache/
*.log

.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.swp
*.swo
*~

docs/paper

vitarerum-api/static/
