<app-collection-objects-section
  title="Requested objects"
  emptyMessage="No objects have been requested for this proposal yet."
  addDialogTitle="Add requested object"
  removeDialogTitle="Remove requested object?"
  removeMessageLead="This will remove"
  removeMessageScope="this proposal"
  [objects]="sectionObjects()"
  [adding]="adding()"
  [removingId]="removingId()"
  [addError]="addError()"
  [removeError]="removeError()"
  (addRequested)="addRequested.emit($event)"
  (removeRequested)="removeRequested.emit($event)"
/>
