.git
.gitignore
.github
.venv
**/__pycache__
**/*.py[cod]
.pytest_cache
.mypy_cache
.ruff_cache
test
.env
.env.local
.env.*.local
uploads
data
*.egg-info
.idea
.vscode
Dockerfile
.dockerignore
docker-compose.yml
docs/plans/*
